* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: darkgray;
}

/* Header Styles */ 
header {
    background: darkslategray;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Anchor Links Styles*/ 
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a:hover {
    background: darkslategray;
    color: dodgerblue;
    border-radius: 15px;
    text-shadow: none;
}

a {
    color: #ffff;
    text-decoration: none;
}

/* Hero and About Me Section Styles */ 
p{
    font-size: 16px;
}

#about-me {
    padding: 50px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.Bio {
    color: #ffff;
}

.Bio h2 {
    text-align: center;
    color: darkslategray;
    font-size: 40px; 
}

.Bio p {
    line-height: 1.5;
    width: 95%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.float-left {
    bottom: 65px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 10px;
    display: block;
    margin: 0 auto 35px auto;
    
}

/* My Work section Styles */
#my-work {
    padding: 50px;
}
.section-title {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid dodgerblue;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.work{
    margin: 20px;
    background: darkslategray;
    color: #ffff;
    flex: 1;
}

.works {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work img {
    width: 100%;
}

.work-content {
    padding: 25px;
    line-height: 1.3;
}

.work-content h3 {
    font-size: 28px; 
}

.work-name {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Resume Section Styles */ 
.resumes {
    padding: 50px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: #ffff;
}

.resumes p {
    line-height: 1.5;
    width: 95%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* Footer Styles */ 
footer {
    background: darkslategray;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

footer nav ul li {
    display: inline-block;
    margin-left: 10px;
}

footer nav ul li a {
    color: #ffff; 
    font-size: 20px;
}


/* Media Query Styles Start */ 

/* Media Query for smaller desktop screens */ 
@media screen and (max-width:900px) {
    
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer nav ul li {
        text-align: center;
        width: 100%;
    }

    .hero {
        width: 100%;
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .work {
        flex: 0 70%;
    }

}
/* Media Query for tablets and smaller */
@media screen and (max-width:768px){
    section {
        padding: 30px 15px;
    }

    .Bio p {
        width: 100%;
        font-size: 15px;
    }

    #my-work {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .container {
        text-align: center;
    }

    .container nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.8em 0;
    }

    .resumes p {
        width: 100%;
        font-size: 15px;
    }
}

/* Media Query for moble phones and smaller */ 
@media screen and (max-width:575px) {
    .section-title {
        width: 95%;
    }

    .work {
        flex: 0 100%;
    }

    .Bio p {
        width: 100%;
        font-size: 10px;
    }

    #my-work{
        flex: 0 100%; 
    }

    .resumes p {
        width: 100%;
        font-size: 10px;
    }
